body {
    margin: 0;
    padding: 0;
    background: #000000;
    background-size: cover;
    background-position: center;
}

.block {
	margin: 100px auto;
	max-width: 30em;
	padding-top: 15px;
	padding-left: 150px;
	border: 1px solid #414141;
	background-color: #1c1c1c;
}

.zci_body {
	padding-left: 0px;
	color: #cccccc;
}

.tile_display {
	padding: 0.8em;
	box-sizing: border-box;
	width: 67%;
	max-width: 590px;
	height: 75px;

	font-size: 100%;
	background-color: #414141;

	overflow: hidden;
}

.tile_display_main {
	font-weight: lighter;
	font-size: 2.5em;
	letter-spacing: -0.05em;
	padding-right: 0.05em;
}

.tile_tabs {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tile_cals {
	display: flex;
}

.tile_ctrl_btn,
.tile_ctrl_btn_long,
.tile_ctrl_btn_r,
.tile_ctrl_btn_n {
	border: 1px solid #414141;
	color: #fdfdfd;
	background: #111;
	font-weight: lighter;

	width: 80px;
	height: 75px;
	box-sizing: border-box;
	font-size: 20px;
}

.tile_ctrl_btn_long {
	background: #1c1c1c;
	width: 160px;
}

.tile_ctrl_btn_r {
	background: rgba(220, 140, 0, 0.7);
}

.tile_ctrl_btn_n {
	background: #1c1c1c;
}
